name: Build

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  run-super-linter:
    name: Run GitHub Super Linter
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Lint Code Base
        uses: super-linter/super-linter@5119dcd8011e92182ce8219d9e9efc82f16fddb6 # v8
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_JSCPD: "false"
          VALIDATE_CHECKOV: "false"

  build-samples:
    name: Build Samples
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project:
          - scoverage-in-maven-parallel-builds
          - power-up-your-scala-code-with-implicit-conversions
          - speeding-up-pod-startup-in-an-autoscaling-kubernetes-cluster
    steps:
      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: adopt
          java-version: "21"
      - name: Setup Minikube
        uses: medyagh/setup-minikube@e3c7f79eb1e997eabccc536a6cf318a2b0fe19d9 # v0.0.20
      - name: Build
        working-directory: articles/${{ matrix.project }}
        run: ./run.sh
